/*Imported from fonts.google.com - name is Bubblegum Sans*/
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    font-family: 'Bubblegum Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

.left-header img[src="./images/clickUpLogo.svg"] {
    width: 124px;
    height: 30px;
}

.right-header {
    display: flex;
    align-items: center;;
}

.text-beside-logo {
    margin-right: 20px;
}

button {
    background-color: #7b68ee;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5f48ea;
    cursor: pointer
}

.login-button {
    width: 90px;
    height: 40px;
    box-shadow: 0 10px 25px #7b68ee80;
}